@page "/cadastrarfuncionario"

@using fisioClin.Models
@inject FuncionariosDAO funcionarioDAO
@inject CargoDAO cargoDAO
@inject NavigationManager Nav

@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations

@rendermode InteractiveServer

<main class="container my-4">

    <h2 class="text-maroon mb-4">Cadastrar Funcionário</h2>

    <section class="position-relative p-4 bg-white rounded shadow-sm">

        <EditForm Model="_funcionario" OnValidSubmit="Cadastrar">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row g-3">

                <div class="col-12 mb-3 position-relative">
                    <label class="form-label">Nome completo</label>
                    <InputText class="form-control" @bind-Value="_funcionario.Nome" />
                    <ValidationMessage For="@(() => _funcionario.Nome)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">CPF</label>
                    <InputCpf class="form-control" @bind-Value="_funcionario.Cpf" />
                    <ValidationMessage For="@(() => _funcionario.Cpf)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">RG</label>
                    <InputText class="form-control" @bind-Value="_funcionario.Rg" />
                    <ValidationMessage For="@(() => _funcionario.Rg)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">Tipo de vínculo</label>
                    <InputSelect class="form-select" @bind-Value="_funcionario.TipoVinculo">
                        <option value="">Selecione</option>
                        <option value="clt">CLT</option>
                        <option value="pj">PJ</option>
                        <option value="estagio">Estágio</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => _funcionario.TipoVinculo)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">Telefone</label>
                    <InputTelefone class="form-control" @bind-Value="_funcionario.Telefone" />
                    <ValidationMessage For="@(() => _funcionario.Telefone)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">Email</label>
                    <InputText type="email" class="form-control" @bind-Value="_funcionario.Email" />
                    <ValidationMessage For="@(() => _funcionario.Email)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">Registro</label>
                    <InputText class="form-control" @bind-Value="_funcionario.RegistroProfissional" />
                    <ValidationMessage For="@(() => _funcionario.RegistroProfissional)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">Especialidade</label>
                    <InputText class="form-control" @bind-Value="_funcionario.Especialidade" />
                    <ValidationMessage For="@(() => _funcionario.Especialidade)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">Subespecialidade</label>
                    <InputText class="form-control" @bind-Value="_funcionario.Subespecialidade" />
                    <ValidationMessage For="@(() => _funcionario.Subespecialidade)" />
                </div>

                <div class="col-md-4">
                    <label class="form-label">Certificados</label>
                    <InputText class="form-control" @bind-Value="_funcionario.Certificados" />
                    <ValidationMessage For="@(() => _funcionario.Certificados)" />
                </div>

                <div class="col-md-3">
                    <label class="form-label">Data de Nascimento</label>
                    <InputDate class="form-control" @bind-Value="_funcionario.DataNascimento" />
                    <ValidationMessage For="@(() => _funcionario.DataNascimento)" />
                </div>

                <div class="col-md-3">
                    <label class="form-label">Data de contratação</label>
                    <InputDate class="form-control" @bind-Value="_funcionario.DataContratacao" />
                    <ValidationMessage For="@(() => _funcionario.DataContratacao)" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Cargo</label>
                    <InputSelect class="form-select" @bind-Value="_funcionario.Id_Cargo_fk">
                        <option value="">Selecione</option>
                        @foreach (var c in _cargos)
                        {
                            <option value="@c.Id">@c.Nome</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => _funcionario.Id_Cargo_fk)" />
                </div>

            </div>

            <div class="mt-4 d-flex gap-3">
                <button type="submit" class="btn btn-maroon">Cadastrar</button>
                <button type="reset" class="btn btn-secondary">Limpar</button>
            </div>

        </EditForm>
    </section>

    <ModalSucesso @ref="_modal" Mensagem="Funcionário cadastrado com sucesso!" />
</main>

@code {
    private Models.Funcionarios _funcionario = new();
    private ModalSucesso _modal;
    private List<Cargo> _cargos = new();
    protected override void OnInitialized()
    {
        _cargos = cargoDAO.ListarTodos();
    }

    private async Task Cadastrar()
    {
        try
        {
            if (!string.IsNullOrWhiteSpace(_funcionario.Cpf))
                _funcionario.Cpf = new string(_funcionario.Cpf.Where(char.IsDigit).ToArray());

            funcionarioDAO.Inserir(_funcionario);

            _modal.Mostrar();
            await Task.Delay(2000);
            _modal.Fechar();

            Nav.NavigateTo("/funcionarios", true);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
